body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  
}
.main_screen{
  background-color: rgba(11, 18, 31, 0.9);

}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 15px; /* Adjust as needed */
}

.content h1 {
  font-weight: 700;
  font-size: 78px;
  padding-top: 9px !important;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.content p {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #a4b1cd !important;
}

.content_btn {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.con_btn {
  padding: 15px !important;
  margin: 9px;
  border: 0px;
  border-radius: 4px;
  background-color: #9fef00;
  border-color: #9fef00;
  color: black;
}

.con_btn:hover {
  background-color: #bbff34;
  color: black !important;
  font-weight: 200;
}

.con_btn2 {
  color: black;
  padding: 15px !important;
  margin: 9px;
  transition: .3s;
  color: #a4b1cd !important;
  background-color: #202837;
  border-color: #202837;
}

.con_btn2:hover {
  border-color: #a4b1cd;
  background: #a4b1cd;
  color: #fff !important;
}

.btn_pad {
  padding: 17px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.scroll-container {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 48px;
}

.scroll-content {
  display: flex;
  animation: scroll 70s linear infinite;
}

.scroll-content img {
  height: 100%;
  margin-right: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



.navbar {
  padding: 0px !important;
  position: relative;
  background-color: #212529!important;
}

.nav-link {
  font-weight: bolder !important;
}

.navbar_li {
  position: relative;
  padding-bottom: 0px !important;
}

.div_padding {
  padding-bottom: 0px !important;
}

ul {
  margin-bottom: 0px !important;
}

.new-mega-menu .nav-link {
  position: relative;
  font-size: 16px !important;
  color: #a4b1cd !important;
  font-weight: 500 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.navbar-brand-mobile {
  margin-right: 10px;
}

.navbar-fixed {
  padding-left: 50px;
}

.nav-link {
  margin-right: 20px;
  margin-left: 20px;
}

.nav_img {
  padding-right: 100px !important;
  padding-top: 26px;
  padding-bottom: 14px;
}

.nav_btn {
  display: flex !important;
}

.sign {
  padding-left: 130px !important;
}

#sign:hover {
  color: white !important;
}

.butt {
  background: #9fef00 !important;
  padding: 0px 0px !important;
  max-width: 201px !important;
  border-radius: 0px;
}

.btn-lg {
  padding: 0px 0px !important;
}

.butt:hover {
  background-color: #bbff34!important;
}

.butt2 {
  font-size: 16px !important;
  color: #141d2b !important;
  font-weight: bolder !important;
}

#nav-hover:hover {
  color: #9fef00 !important;
}

.nav_a {
  font-weight: bold !important;
}

.navbar_li:hover::after {
  content: "";
  position: absolute;
  bottom: -3;
  left: 0;
  width: 75%;
  margin-left: 15px;
  height: 4px;
  background-color: #9fef00;
  transition: all 2s ease-in-out;
  opacity: 0;
}

.navbar_li:hover::after {
  opacity: 1;
}

.btn_pad {
  padding: 13px !important;
    padding-left: 44px !important;
    padding-right: 44px !important;
}

.carousel-inner {
  position: relative;
 /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent items from wrapping */
  margin-left: 100px;
  margin-right: 100px !important;
  width: 83%;
  height: 10%;
}

.carousel-item {
  display: inline-block; /* Ensure items appear in a row */
  width: auto; /* Adjust as needed */
}



.scroll-content img {
  height: 51px;
  margin-right: 40px;
  padding: 10px;
}

.first_div{
  margin: 0px;
  padding: 8px;
  padding-top: 40px;
  padding-bottom: 58px;
  background-color: #0b121F;
}

.content_btn_third{
  display: flex;
  margin-top: 20px;
}



.lable_box{
  display: flex;
  margin: 0px;
  height: 28%;
  width: 70%;
  padding: 26px;
  margin-left: 217px;
  margin-right: 50px;
  background-color: #141D2B;
  border: 1px solid #202837;
  border-radius: 8px;
}

.gradient-text {

  display: flex;
 
  font-size: 15px;
  background: linear-gradient(90deg, green, #00CFFF);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0px;

  padding-left: 21px;
  padding-top: 7px;
  font-weight: 600;

}

.arrow-icon{
  padding-left: 2px;
}
/* Ensure your base styles are defined */
.btn-htb-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover effect for changing stroke color */ 
.btn-htb-redirect:hover .arrow-icon-stem {
  stroke: #9FEF00; 
  
}

.btn-htb-redirect2:hover .arrow-icon-stem {
  stroke: #000000; 
  
}

/* Optional: Add transition for a smoother effect */
.arrow-icon-stem {
  transition: stroke 0.3s;
}

.link_btn {
  margin-left: 3px;
  height: 20px;
  width: 18px;
}

.link_btn:hover{
  background-color:#0b121F;
}
.link_btn2 {

  margin-left: 3px;
  height: 20px;
  width: 18px;
  padding-bottom: 3px;
}






.sec_div{
  display: flex;
  background-color: #0b121F;
  justify-content: space-around;
  padding: 50px;
}

.first_box{
  height: 270px !important;
  width: 570px;
  background-color: #141D2B;
  border: 1px solid #202837;
  padding: 31px;
  border-radius: 6px;
}

.sec_box{
  height: 270px !important;
  width: 570px;
  background-color: #141D2B;
  border: 1px solid #202837;
  padding: 31px;
  border-radius: 6px;

  
}
.line_bg{
  background-image: url(/images/landingv3/line.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.svg-icon {
  margin-right: 20px; /* Adjust the value as needed */
}
.fiftyheading{
  color: #9fef00;
  font-size: 78px;
  font-weight: 600;
  padding-left: 21px;
  line-height: 47px;
}
.fiftypara{
  line-height: 42px !important;
  color: #a4b1cd !important;
  font-size: 38px;
  font-weight: 400;
}
.beat_para{
  line-height: 42px !important;
  color: #a4b1cd !important;
  font-size: 38px;
  font-weight: 400;
  margin-top: -20px
}

.third_part{
  color: white;
  background-color: #0b121F;
  font-size: 42px;
  font-weight: 800;
  padding-left: 78px;
  line-height: 48px !important;

}
.third_part h4 {
  font-size: 32px;
  font-weight: 900;
}
.btn_pad_third{
  padding: 13px !important;
  padding-left: 44px !important;
  padding-right: 44px !important;
}
.con_btn_third{
  font-size: 16px !important;
  padding: 9px !important;
  margin: 0px;
  margin-right: 20px;
  border: 0px;
  border-radius: 4px;
  background-color: #9fef00;
  border-color: #9fef00;
  color: black;
  
}


.con_btn_third:hover{
  background-color: #bbff34;
    color: black !important;

}

.con_btn2_third{

  font-size: 16px !important;
  color: black;
  padding: 9px !important;
  margin: 0px;
  transition: .3s;
  color: #a4b1cd !important;
  background-color: #202837;
  border-color: #202837;
}


.con_btn_third{


  padding: 50px;
}

.font_btn_third{
  text-decoration: none;
  display: flex;
  padding: 13px !important;
  font-size: 13px !important;
  font-weight: 700;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
 

.get_btn{
  width: 121px !important;
  padding-right: 5px !important;
  padding-left: 22px !important;
}


.fourth_part{

  background-color: #0b121F;
}
.fourth_one{
  margin: 0px;
  padding: 0px;
}